[Desktop Entry]
Type=Application
Exec=/home/brandon/startup/nvidia.sh
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[en_US]=nvidia
Comment[en_US]=No description
X-GNOME-Autostart-Delay=0
